---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header>
  <nav>
    <ul>
      <li><a href="#skills">{t('skills')}</a></li>
      <li><a href="#projects">{t('projects')}</a></li>
      <li><a href="#about">{t('about')}</a></li>
    </ul>
  </nav>
  <div class="language-switcher">
    <button id="langToggle" class="lang-switch">
      {lang === 'en' ? t('spanish') : t('english')}
    </button>
    <button id="themeToggle" class="theme-switch">Toggle Theme</button>
  </div>
</header>

<script>
  document.getElementById('langToggle').addEventListener('click', () => {
    const currentLang = window.location.pathname.split('/')[1];
    const newLang = currentLang === 'en' ? 'es' : 'en';
    const newUrl = window.location.pathname.replace(`/${currentLang}`, `/${newLang}`);
    window.location.href = newUrl;
  });

  const themeToggle = document.getElementById('themeToggle');
  const root = document.documentElement;

  themeToggle.addEventListener('click', () => {
    if (root.style.getPropertyValue('--background-color') === '#fdfdfd') {
      // Cambiar a tema oscuro
      root.style.setProperty('--primary-color', '#d2691e');
      root.style.setProperty('--secondary-color', '#1b2b37');
      root.style.setProperty('--text-color', '#f5f5f5');
      root.style.setProperty('--background-color', '#121212');
    } else {
      // Cambiar a tema claro
      root.style.setProperty('--primary-color', '#d2691e');
      root.style.setProperty('--secondary-color', '#ffcc99');
      root.style.setProperty('--text-color', '#333333');
      root.style.setProperty('--background-color', '#fdfdfd');
    }
  });
</script>

<style>
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--background-color);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 1rem;
  }
  nav a, .language-switcher a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  nav a:hover, .language-switcher a:hover {
    color: #b35a19;
  }
  .language-switcher {
    display: flex;
    gap: 1rem;
  }
  .language-switcher button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .language-switcher button:hover {
    background-color: #b35a19;
  }
  .language-switcher a.active {
    text-decoration: underline;
  }
  .lang-switch {
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .lang-switch:hover {
    background-color: #3700b3;
  }
</style>